@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional: nice body styling */
body {
  @apply bg-gradient-to-br from-blue-950 via-blue-900 to-cyan-800 text-white min-h-screen;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
